.detailModal {
  display: flex;
  flex-direction: column;
  position: fixed;
  z-index: 100;  
  top: calc(100vh / 2);
  left: calc(100vw / 2);
  transform: translate(-50%, -50%);  
  width: 70%;
  max-width: 800px;
  height: 80vh;
  overflow: auto;
  background-image: rgba(132, 0, 0, 0.5);
  background-color: #fff;
  color: #444;
  padding: 1rem;

  .closeModalButton {
    align-self: flex-end;
    cursor: pointer;
  }

  .modalTitle {
    text-align: center;
    margin-bottom: 1.25rem;
    font-size: 1.5rem;
    font-weight: 600;

    @include mq(768px) {
      font-size: 1.5rem;
    }
  }

  .modalImgIng {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;

    @include mq(680px) {
      flex-direction: row;
      justify-content: space-around;            
    }

    @include mq(1025px) {
      max-height: 20vw;
    }

    .modalIngredientTitle {
      font-size: 0.8rem;
      font-weight: 500;
      font-style: italic;
      line-height: 1rem;
      margin-bottom: 0.5rem;
      background-color: rgba(0, 0, 0, 0.1);
    }

    .modalImgDiv {
      width: 40%;
      // max-height: 30vh;
      margin: 0 auto;
      margin-bottom: .5rem;
      padding: 0;

      img {
        width: 100%;

        @include mq(768px) {
          width: 100%;
        }
      }

      @include mq(768px) {
        width: auto;
        max-width: 30vh;
        max-height: 30vh;
      }
    }

    .modalIngDiv {
      width: 60%;
      max-height: 30vh;
      overflow: hidden;
      font-size: .75rem;

      @include mq(1025px) {
        // margin-top: 0.8rem;
        // font-size: 1rem;
      }

      @include mq(768px) {
        width: auto;
      }
    }
  }

  .modalDirDiv {
    margin-top: 2em;

    .modalDirTitle {
      font-size: 1rem;
      font-weight: 500;
      font-style: italic;
      line-height: 1rem;
      margin-bottom: 0.3rem;
      background-color: rgba(0, 0, 0, 0.1);
    }

    .modalDirections {
      margin-top: .5rem;
      font-size: 0.75rem;      
      line-height: 1rem;
    }

    @include mq(768px) {
      margin-top: 2em;
    }
  }
}
