.detailModal {
  display: flex;
  flex-direction: column;
  position: fixed;
  z-index: 100;  
  top: calc(100vh / 2);
  left: calc(100vw / 2);
  transform: translate(-50%, -50%);  
  width: 70%;
  max-width: 800px;
  height: 80vh;
  overflow: auto;
  background-image: rgba(132, 0, 0, 0.5);
  background-color: #fff;
  color: #444;
  padding: 1.5rem;

  .closeModalButton {
    align-self: flex-end;
    cursor: pointer;
  }

  .modalTitle {
    align-self: center;
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    font-weight: 600;

    @include mq(768px) {
      font-size: 1.35rem;
    }
  }

  .modalImgIng {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;

    @include mq(768px) {
      flex-direction: row;
      justify-content: space-between;     
    }

    .modalIngredientTitle {
      width: 5rem;      
      font-size: 0.8rem;
      font-weight: 600;
      font-style: italic;
      line-height: 1rem;
      margin-bottom: 0.5rem;
      background-color: rgba(0, 0, 0, 0.1);     
    }

    .modalImgDiv {
      display: flex;
      margin: 0 .5rem 1.5rem .5rem;

      img {
        width: 90%;
        margin: 0 auto;

        @include mq(768px) {
          width: 100%;
        }
      }

      @include mq(768px) {
        // width: 100%;
        max-width: 35vh;
        max-height: 35vh;
        margin: 0 0 0 1rem;;
      }
    }

    .modalIngDiv {
      max-height: 35vh;
      font-size: .65rem;
      overflow: hidden;
                  
      @include mq(768px) {
        font-size: .75rem;
      }      
    }

    @include mq(768px) {
      display: grid;
      width: 100%;
      grid-template-columns: 1fr 1fr;
      column-gap: 1.5rem;
    }
  }

  .modalDirDiv {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    
    .modalDirTitle {
      width: 5rem; 
      font-size: .85rem;
      font-weight: 600;
      font-style: italic;
      line-height: 1rem;
      margin-bottom: 0.3rem;
      background-color: rgba(0, 0, 0, 0.1);

      @include mq(768px) {
        font-size: 1rem;      
      }
    }

    .modalDirections {
      margin-top: .5rem;
      font-size: 0.65rem;      
      line-height: 1rem;  
      
      @include mq(768px) {
        font-size: .75rem;      
      }
    }

    // @include mq(600px) {
    //   margin-top: 3vw;
    // }

   

    // @include mq(1020) {
    //   margin-top: 3vw;
    // }
  }
}
